html {
	margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
	}

p { 
    margin-top: 10px;
    margin-bottom: 20px; 
	text-align: justify;
	}

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #4F5D75;
	font-size: 100%;
    color: #ffffff;
}

h1, h2 {
    font-family: sans-serif;
    text-transform: capitalize;
}
h1 {
    color: #FF6663;
    text-align: center;
    font-size: 270%;
}

h2 {
    font-size: 150%;
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
    /* color: ; */
}

a {
    color: #E0FF4f;
    font-size: 120%;
    text-decoration-line: none;
}

a:hover {
    color: #c4caab;
    text-decoration: overline;
    text-shadow:1px 1px 5px #E0FF4f;
    text-decoration-style: dotted;
}

img {
    width:500px;
}

nav li {
    display: inline-block;
    margin-right: 5em;
    /* display: block; */
}

.subtitle {
    color: #370031;
    margin-bottom: 3em;
}

#navsubtitle {
    text-align: center;
}